[Unit]
Description=DR load balancer service
After=network.target

[Service]
LimitNOFILE=65535
Type=forking
EnvironmentFile=/etc/sysconfig/drlb_server
ExecStart=/etc/rc.d/init.d/drlb_server start
ExecReload=/etc/rc.d/init.d/drlb_server reload
ExecStop=/etc/rc.d/init.d/drlb_server stop

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
